llama-index==0.10.55
llama-index-llms-ipex-llm==0.1.8
llama-index-embeddings-ipex-llm==0.1.5
llama-index-readers-file==0.1.30
llama-index-readers-llama-parse==0.1.6
llama-index-readers-web==0.1.23
gradio==4.38.1
ipex-llm==2.1.0b20240712
transformers==4.37.0
tokenizers==0.15.2
